<nav>
    <%- include('../nav/nav') %>
</nav>
<main class="container pt-2">
    <div class="markdown-body">
        <%- content %>
    </div>
</main>
<footer>
    <%- include('../footer/footer') %>
</footer>
