<%- include('../nav/nav', {
  navList, otherLinks
}) %>

<main class="container pt-2">
  <div class="row">
    <div class="col-lg-9">
      <article class="markdown-body">
        <%- content %>
      </article>
    </div>
    <div class="col-lg-3 d-lg-block d-none"></div>
  </div>

</main>

<%- include('../footer/footer') %>
