<%- include('../nav/nav.ejs') %>

<div class="container">
  <div class="mt-5">
    <div class="blog-list row" id="blogList">
      <!-- <% blogInfoList.forEach(function(info) { %>
        <div class="blog-item col-12 col-md-6 col-lg-4">
          <a class="blog-item-link m-md-2 py-1 py-md-4 px-2 px-md-4" href="/blog">
            <h3><%= info.title %></h3>
            <div class="blog-item-content"><%- info.content %></div>
          </a>
        </div>
      <% }) %> -->
    </div>
  </div>
</div>

<%- include('../footer/footer.ejs') %>