<%- include('../nav/nav.ejs') %>

<div class="container">
  <div class="row">
      <div class="col-lg-9">
        <article>
          <div class="blog-list">
            <a class="d-block blog-item m-md-2 p-md-1" href="/blog">
              <h3>小灰的算法之旅</h3>
              <p>什么是算法？为什么算法值得研究？相对于计算机中使用的其他技术来说算法的作用是什么？本章我们来回答这些问题。</p>
            </a>
            <a class="d-block blog-item m-md-2 p-md-1" href="/blog">
              <h3>小灰的算法之旅</h3>
              <p>什么是算法？为什么算法值得研究？相对于计算机中使用的其他技术来说算法的作用是什么？本章我们来回答这些问题。</p>
            </a>
            <a class="d-block blog-item m-md-2 p-md-1" href="/blog">
              <h3>小灰的算法之旅</h3>
              <p>什么是算法？为什么算法值得研究？相对于计算机中使用的其他技术来说算法的作用是什么？本章我们来回答这些问题。</p>
            </a>
          </div>
        </article>
      </div>
      <div class="col-lg-3 d-lg-block d-none">边栏</div>
  </div>
</div>

<%- include('../footer/footer.ejs') %>